@font-face {
    font-family: 'tstar';
    src: url('https://cdn.rawgit.com/awortham33/opendepo/blob/master/T-Star-heavy-webfont.woff');
src: url('https://cdn.rawgit.com/awortham33/opendepo/blob/master/T-Star-heavy-webfont.otf');
    
} 